@import '../node_modules/bootstrap/scss/bootstrap.scss'; 


.section-a,.section-c{
    background-color: rgb(243, 243, 243); 
    min-height: 500px;
} 

.section-b{
    .second-col{
        p{
            line-height: 240%;
            color: rgb(85, 85, 85);
        }
    }
} 

.section-c{
    .btn{
        border-color: #E82A8A; 
        color: #E82A8A; 
        &:hover{
            background-color: #E82A8A; 
            color: #fff;
        }
    }
} 
 

.section-f{
    min-height: 150px; 
    background-color: #1B1B1B; 
    color: white; 
    .btn{
        border-color: #E82A8A; 
        color: #E82A8A; 
        &:hover{
            background-color: #E82A8A; 
            color: #fff;
        }
}

.section-g{
    a{
        color: black;
    }
} }